.todo-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.4em 1.5em;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.todo-list-item__content {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
}

.checkbox-wrapper {
    width: 28px;
    height: 28px;
}

.todo-list-item.finished {
    background-color: var(--light-orange);
}

.todo-list-item__details {
    position: absolute;
    right: 0;
    top: 0;
    width: 430px;
    padding: 28px 36px;
    z-index: 2;
    display: none;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.todo-list-item.finished .todo-list-item__details {
    background-color: var(--light-orange);
}
.todo-list-item .list-item-details {
    display: none;
}

.todo-list-item:first-of-type .todo-list-item__details {
    display: block;
}

.todo-list-item__title {
    margin-bottom: 8px;
    font-family: 'Lexend Bold';
    font-size: 28px;
    font-weight: 700; 
}

.todo-list-item__details input {
    width: 100%;
    border: none;
    user-select: none;
    outline: none;
}

.todo-list-item__added-time {
    color: #B5B5B5;
    font-size: 16px;
    font-weight: 400; 
    margin-bottom: 40px;
}

.todo-list-item.finished .todo-list-item__added-time {
    color: var(--dark-orange);
}

.todo-list-item__h4 {
    margin-bottom: 12px;
    font-family: 'Lexend Medium';
    font-size: 20px;
    font-weight: 700; 
}

.todo-list-item__description-content {
    font-size: 20px;
    font-weight: 400; 
    margin-bottom: 73px;
}

.todo-list-item__controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.todo-list-item__svg-wrapper {
    width: 32px; 
    aspect-ratio: 1;
    cursor: pointer;
}

.todo-list-item__edit-svg-wrapper {
    margin-left: auto;
}

.todo-list-item.finished .todo-list-item__delete-svg-wrapper path {
    fill: var(--dark-orange);
}

@media screen and (max-width: 950px) {
    .todo-list-item__content {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .todo-list-item__details {
        width: 282px;
        padding: 16px 20px;
        border-radius: 6px;
    }
    .todo-list-item__title {
        margin-bottom: 4px;
        font-size: 16px;
    }
    
    .todo-list-item__added-time {
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .todo-list-item__h4 {
        margin-bottom: 6px;
        font-size: 14px;
    }
    
    .todo-list-item__description-content {
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    .todo-list-item__svg-wrapper {
        width: 20px; 
    }
    
}

@media screen and (max-width: 550px) {
    .todo-list-item__content {
        font-size: 14px;
    }
    .todo-list-item {
        padding: 1em;
    }
}
