.section-btn {
    background-color: inherit;
    width: 100%;
    text-align: center;
    font-size: 16px; 
    padding: 1.3em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-down-svg {
    width: 1em;
}

.section-btn.active-section {
    background-color: var(--light-orange);
}

@media screen and (max-width: 950px) {
    .section-btn {
        padding: 0.8em 1.5em;
        text-align: left;
        justify-content: space-between;
    }
}