.btn-group-wrapper {
    display: grid;
    gap: 40px;
    align-content: start;
}

@media screen and (max-width: 950px) {
    .btn-group-wrapper {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .btn-group-wrapper {
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }
}